<server description="Oracle JDBC Application Server">
    <!-- Features -->
    <featureManager>
        <feature>jdbc-4.2</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="9080"
                  httpsPort="9443"/>

    <!-- Tracing Specifications -->
    <logging traceSpecification="*=info:RRA=all"/>

    <library id="jdbcLib">
        <file name="${server.config.dir}/resources/{env.JDBC_DRIVER}"/>
    </library>

    <!-- General Datasource -->
    <dataSource id="DefaultDatasource">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties
                url="${env.JDBC_URL}"
                user="${env.USER}" password="${env.PASSWORD}"/>
    </dataSource>
</server>
